//====================================================================================================

//====================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.pr_first__screean {
    margin: 40px 115px;
    color: #8A8A8A;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 22.4px */
}